.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    background: white;
    z-index: 100;
    top: 0;
    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            display: flex;
            width: 20%;
            align-items: center;

            .header-logo {

                height: 65%;
                width: 100%;
                cursor: pointer;
                background-size: 50%;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
                padding-left: 60px;
            }
        }

        .center-content {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;
                b {
                    font-size: 14px;
                }

                .subs-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;

            .support {
                padding-right: 50px;
                cursor: pointer;

                i {
                    margin-right: 3px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {

                        color: red;
                    }
                }

                &:hover {
                    opacity: 1;
                }

            }

            .language-en {
                cursor: pointer;
                margin: 0 10px;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {

                        color: blue;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background-image: url('../../assets/header-background.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top -120px;
    background-size: cover;
    height: 640px;
    // margin: 15px 0;
    display: flex;
    flex-direction: column;

    .content-up {
        padding-top: 40px;
        height: 65%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title-1 {
            text-align: center;
            color: #fff;
            font-size: 32px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #333;
            margin-top: 40px;
        }

        .title-2 {
            font-weight: 550;
            text-align: center;
            color: #fff;
            font-size: 32px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 18px;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            width: 420px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 410px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        padding-bottom: 50px;
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child {
                width: 100px;

                .icon-child {
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 20px;
                        color: #49bce2;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }

        }
    }

}